.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.5s;

  .guest-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45%;
    height: 75%;
    margin: auto;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: hidden;

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px;
      padding: 10px;
      width: 100%;

      .hdr {
        margin: auto;
        text-align: center;
        border: 0.5px solid #3183ff;
        border-radius: 27px;
        margin-top: 0.5rem;

        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: 700;
          font-family: "Hanson Bold", sans-serif;
          margin: 0;
          padding: 0.5rem 1rem;
          padding-top: 0.65rem;
          color: #3183ff;

          span {
            margin: 0 1rem;
            color: #333;
          }
        }
      }

      .txt {
        margin-top: 1rem;

        p {
          color: #3183ff;
          margin: 0;
          padding: 0.5rem 0;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }

      .spin-results-list {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
        margin: 1rem 0;
        height: 16rem;
        width: 90%;
        overflow-y: scroll !important;

        ul {
          list-style: none;
          padding: 0;

          li {
            padding: 0;
            border-bottom: 1px solid #ddd;

            p {
              margin: 1rem 0;
              color: #333;
              font-family: Arial, Helvetica, sans-serif;
            }

            strong {
              color: #333;
              font-weight: 700;
              font-family: Arial, Helvetica, sans-serif;
            }
          }
        }
      }

      .to-do {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        .close,
        .download {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          width: auto;

          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            background: none;
            border: 0.5px solid #3183ff;
            border-radius: 25px;
            color: #3183ff;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;

            img {
              width: 15px;
              height: 15px;
              margin-left: 10px;
            }
          }
        }

        .download {
          margin: 0;
        }
      }
    }

    @media (max-width: 480px) {
      width: 90%;

      .modal-content {
        justify-content: center;
        align-items: center;

        .info {
          h1 {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
