@font-face {
  font-family: "Hanson Bold";
  src:
    url("../fonts/Hanson-Bold.otf") format("opentype"),
    url("../fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.acc-s {
  .acc {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border: 0.5px solid #dae1e7;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    width: 250px;
    float: right;

    .cnt {
      .card {
        .list {
          list-style: none;
          padding: 0 10px;

          .basic-info {
            text-align: left;

            h6 {
              color: #333;
              margin: 0;
              padding: 0;
              font-size: medium;
              font-weight: 400;
              font-family: "Montserrat", sans-serif;
            }

            p {
              color: #3183ff;
              margin: 0;
              padding: 0;
              font-size: 12px;
              font-weight: 100;
              font-family: "Montserrat", sans-serif;
            }
          }

          li {
            color: #333;
            padding: 6px 0px;
            margin: 10px 0;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: left;

            &:hover {
              background-color: #f3f3f3;
              box-shadow: none;
              color: #344767;
              font-weight: 600;
            }
            
            .icon {
              margin-right: 15px;
              margin-left: 0;
              width: 1rem;
              height: 1rem;
            }

            a {
              color: #333;
              background: none;
              color: inherit;
              font-size: 13px;
              font-weight: 100;
              font-family: "Montserrat", sans-serif;
              width: 100%;
              border: none;
              outline: none;
              padding: 12px;
              text-decoration: none;
              text-align: left;
              white-space: no-wrap;

              &:hover {
                text-decoration: underline !important;
              }
            }
          }

          .divider {
            border-bottom: 0.5px solid #dae1e7;
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      float: none;
    }
  }

  @media (max-width: 768px) {
    z-index: 100000;
  }
}
