@font-face {
  font-family: "Hanson Bold";
  src:
    url("../fonts/Hanson-Bold.otf") format("opentype"),
    url("../fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: absolute;
    width: 45%;
    margin: auto;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px;
      padding: 10px;

      .hdr {
        margin: auto;
        text-align: center;
        border: 0.5px solid #3183ff;
        border-radius: 27px;
        margin-top: 0.5rem;

        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: 700;
          font-family: "Hanson Bold", sans-serif;
          margin: 0;
          padding: 0.5rem 1rem;
          padding-top: 0.65rem;
          color: #3183ff;

          span {
            margin: 0 1rem;
            color: #333;
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h6 {
          border: 1px dotted #3183ff;
          border-radius: 4px;
          padding: 0.5rem;
          margin-right: 0.5rem;
          background-color: #f9f9f9;
          font-family: "Montserrat", sans-serif;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          background: none;
          border: 0.5px solid #3183ff;
          border-radius: 25px;
          color: #3183ff;
          font-size: 12px;
          font-family: "Montserrat", sans-serif;
          cursor: pointer;

          img {
            width: 15px;
            height: 15px;
            margin-left: 10px;
          }
        }
      }

      .winner {
        margin: 1rem 0;

        h2 {
          color: #333;
          margin: 0;
          padding: 0.5rem 0;
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }

      .to-do {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        .close {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          width: auto;

          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            background: none;
            border: 0.5px solid #3183ff;
            border-radius: 25px;
            color: #3183ff;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;

            img {
              width: 15px;
              height: 15px;
              margin-left: 10px;
            }
          }
        }
      }

      .success {
        position: absolute;


        p {
          color: #44b34b;
          margin: 0;
          padding: 0.5rem 0;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }
    }

    @media (max-width: 480px) {
      width: 90%;

      .modal-content {
        justify-content: center;
        align-items: center;

        .info {
          h1 {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
